h1{
    text-align-last: center;
}

h2{
    border-bottom-style: solid;
}
h3{
    font-style: italic;
}

.headDiv{
    border-top-style: solid;
    border-bottom-style: solid;
    text-align-last: center;

  }
.bodyDiv{
    margin-left: 50px;
}

  ul{
    list-style: circle;
  }

body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}