h1{
    text-align-last: center;
}

h3{
    font-style: italic;
}

.headDiv {
    border-top-style: solid;
    border-bottom-style: solid;
    text-align-last: center;

  }
.bodyDiv{
    border-top-style: solid;
    margin-left: 50px;
}

  ul{
    list-style: circle;
  }