h1{
    text-align-last: center;
}

h3{
    font-style: italic;
}

#secthead {
    border-top-style: solid;
    border-bottom-style: solid;
    text-align-last: center;

  }
section {
    border-top-style: solid;
  }

  ul{
    list-style: circle;
  }